.App {
  text-align: center;
}

body {
  background: url("./images/background.jpg") top center fixed;
  background-size: cover;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

html {
  overflow-y: scroll;
}